<h1>Editing Prior Authorization</h1>

<script lang='javascript'>
rp = new RequestPages({patientId: <%= patient_id %>, prescriptionId: <%= prescription_id %>, paRequestId: <%= id %>});
rp.showForm();
</script>

