<h1>Prior Auth Request</h1>

<div class="request-pages"
  data-patient-id="<%= @patient.id %>"
  data-prescription-id="<%= @prescription.id %>"
  data-pa-request-id="<%= @pa_request.id %>" >
  Loading Prior Authorization form...
</div>
