<div id="patients-list" class="template">
  <h1>Patients
  <%= link_to "Add patient", new_patient_path, :class=>'btn btn-small btn-success' %>
  </h1>

  <% if @patients.count < 1 %>
  <h2>No Patients</h2>
  <% end %>

  <table class="table table-striped">
    <tr class="header">
      <th class="open">Open PAs</th>
      <th>Patient Name</th>
      <th class="remove">Remove</th>
    </tr>
    <% @patients.each do |patient| %>
    <tr class="patients">
      <td class="open">
        <span class="label label-info"><%= patient.prescriptions.count %></span>
      </td>
      <td>
        <%= link_to "#{patient.first_name} #{patient.last_name} (#{patient.date_of_birth})", patient %>
      </td>
      <td class="remove">
        <%= link_to "X", patient, method: :delete, :class=>'btn btn-xs btn-danger' %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

